{% extends "appbuilder/base.html" %}

{% block content %}
<h2>Vue main</h2>
<div id="app">
    <div id=formcode class="form-group">
        <input id="inputcode" v-model="message" class="form-control form-control-lg" type="text" placeholder="Type Your Code">
        <button v-on:click="checkCode2">Check</button>
    </div>
    <div>
            <p> -msg [[message]]</p>
           
    </div>
    <div class="container">
        <div class="card-deck mb-3 text-center">
            
                <!--
                Now we provide each todo-item with the todo object
                it's representing, so that its content can be dynamic.
                We also need to provide each component with a "key",
                

                <!--
                FAB API CODEITEMS
                -->
                
                <code-item 
                    class="codeitems"
                    v-for="item in codeItems"
                    v-if="item.code === message.split('-')[item.composerpos -1] "
                    v-bind:codeitem="item"
                    v-bind:key="item.id"
                >[[checkCode(item)]]</code-item>
                              
        </div>
        <div>
            <code-composer
                    v-for="item in codeComposer"

                    v-bind:code="item"
                    v-bind:key="item.id"
            >
            </code-composer>
            <p> row msg [[message]]</p>
        </div>
    </div>
      
</div>
<div id=app2>
        <div id=formcode class="form-group">
                
                <button v-on:click="checkCode">Check</button>
            </div>

        <div>
            <code-field
                class = "field"
                v-for = "filed in codeComposer"
                v-bind:code="field"
                v-bind:key="field.id"
            >


        </div>


</div>
{% endblock %}


